/* css  */

.messages-container {
	height:60px;
	width:45%;
}
.messages {
	text-indent:6px;
	/* color:red;
	background-color:#FFE5E5; */
	display:none;
}
form, .results {
	width:45%;
	float:left;
}
textarea {
	margin-top:12px;
}
.results {
	margin-left: 40px;
	margin-bottom:20px;
	display:none;
}
.pre {
	height:200px;
	overflow:auto;
}
.editor-instance input {
	width:auto;
}
.action-view-link {
	width:auto;
	padding-top:7px;
}
.editor-instance select {
	width:260px;
	display:inline;
}
.linkEntry {
	margin-top:12px;
}




